<!DOCTYPE HTML>
<html>
	<head>
		<title>Inskedular</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><%= {:safe, js_script_tag("ie/html5shiv.js")} %><![endif]-->
    <%= {:safe, css_link_tag("app.css")} %>

		<!--[if lte IE 8]><%= {:safe, css_link_tag("ie8.css")} %><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="/">Inskedular</a> brought to you by Xing Hack Week</h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#" class="button">Help</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Inskedular</h2>
					<p>Simple Tournament Manager</p>
				</section>

			<!-- Main -->
				<section id="main" class="container"></section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Xing. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><%= {:safe, js_script_tag("ie/respond.min.js")} %></script><![endif]-->
      <%= {:safe, js_script_tag("app.js")} %>
	</body>
</html>
